[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
allure-pytest = "*"
pytest-xdist = "*"
typing-extensions = "*"
pytest-test-groups = "*"
python-dotenv = "*"
pytest-tagging = "*"
pyhamcrest = "*"
parameterized = "*"

[dev-packages]
pycodestyle = "*"
pylint = "*"
pyflakes = "*"
flake8 = "*"
yapf = "*"
autopep8 = "*"
black = "*"
isort = "*"
autoformat = "*"
autoflake = "*"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
